/* HEADER */

.header_wrap {

  background-color: #FFFFFF;
}

.container {

  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 219px;
  max-width: 1240px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.navigation ul {

  padding: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.hire_me {

  padding: 11px 32px;
  background-color: #fff;
  border: 1px solid #3730A3;
  border-radius: 6px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #3730A3;
}

.links {

  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #6B7280;
}


/* <!-- SECOND BLOCK --> */

.second_wrap {
  background-color: #FFFFFF;
}

.second_wrap, h1, p {
  margin: 0;
  padding: 0;
}

.second_block {
  margin-left: auto; margin-right: auto;
  margin-bottom: 198px;
  padding: 0px 130px;
  box-sizing: border-box;
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
}

.intro_hello {
  display: flex;
  flex-direction: column;
}

.main_info {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E7EB;
}

.name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #4338CA;
}

.main_info h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  color: #1F2937;

  margin-bottom: 40px;
  
}

.main_info_first_div {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.line {
  width: 102px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding-right: 10px;
  
}

.line hr {
  border: 1px solid #3730A3;  
  margin: 0;
  width: 100%;
}

.introdution {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6B7280;

  margin-bottom: 40px;
}
.hire {
  padding: 12px 32px;
  margin-right: 18px;
  background: #3730A3;
  border-radius: 6px;
  border: 0px solid #000000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.read_more {
  padding: 11px 32px;
  border: 1px solid #3730A3;
  border-radius: 6px;
  background: #FFFFFF;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #3730A3;
}
.work_time {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
}

.photo img {
  border-radius: 6px;
  width: 478px;
  height: 525px;
  object-fit: cover;
  object-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* THIRD BLOCK */

.third_wrap h5 {
  margin-bottom: 20px;
  margin-top: 0;
}

.third_wrap {
  background-color: #ffffff;
}

.third_container {
  max-width: 1480px;
  box-sizing: border-box;
  margin-left: auto; margin-right: auto;
  padding: 0px 130px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.slogan {
  text-align: center;
  margin-bottom: 150px;
}

.slogan span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 48px;
  text-align: center;
}

.slogan:first-child {
  color: #1F2937;
}

.purple {
  color: #3730A3
}

.information {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.first_info, .second_info, .third_info {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

.about_me, .skills, .my_projects, .code_examples, .education,.languages {
  /* width: calc(50% - 20px); */
  width: 520px;
  border-bottom: 1px solid #3730A3;
  padding: 10px;
  padding-bottom: 35px;
}

.information h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1F2937;

}

.about_me p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;

}

.skills ul {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
  list-style-type: none;
}

.skills ul li {
  margin-bottom: 20px;;
}

.my_projects a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
  text-decoration: none;
}

.pre {
  margin: 0;
}

.code {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
}

.education ul{
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;

  list-style-type: none;
}

.education ul li {
  margin-bottom: 5px;;
}

.languages p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
}

/* FOOTER */


.footer_wrap {
  background-color: #fef2f2;
}

.fourth_container {
  padding: 0px 130px;
  margin-left: auto;margin-right: auto;
  box-sizing: border-box;
  max-width: 1480px;
}

.fourth_container h4 {
  padding-top: 111px;
  padding-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #374151;
  margin: 0;
}

.fourth_container p {
  padding-bottom: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9CA3AF;
}

.icons {
  display: flex;
  flex-direction: row;
 justify-content: center;
}

.icons div i{
  padding: 20px;
  /* display: flex; */
  color: #6b7280;
}

.year_rsschool {
  display: flex;
  justify-content: space-between;
}
.year {
  padding-bottom: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9CA3AF;
}
.rsschool {
  object-position: right;
  background-image: url(img/rs_school_js.svg);
  width: 121px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
}
